{% load static %}
{% load plotly_dash %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash in Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dash-core-components@2.0.0/dash_core_components.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dash-html-components@2.0.0/dash_html_components.min.css">
    <script src="https://cdn.jsdelivr.net/npm/dash-renderer@2.0.0/dash_renderer.min.js"></script>
    <style>
        iframe {
            width: 100%;
            height: 720px;
            border: none;
        }
    </style>
</head>
<body>
    <div>
        {% plotly_app name="TimeSeriesPlot1234" %}
    </div>
</body>
</html>
