<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotly Dash Integration</title>
    
    <!-- Plotly JS CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Dash CSS (if necessary) -->
    <link rel="stylesheet" href="https://unpkg.com/dash-core-components@2.0.0/dist/dash-core-components.min.css">
    <link rel="stylesheet" href="https://unpkg.com/dash-html-components@2.0.0/dist/dash_html_components.min.css">
    
    {% load plotly_dash %}
</head>
<body>
    <h1>Plotly Dash Integration</h1>
    
    <!-- Embed the Plotly Dash app -->
    {% plotly_app name="TimeSeriesPlot" %}
</body>
</html>
